<div id="<%= dom_id placement %>">
  <p>
    <strong>Floor:</strong>
    <%= placement.Floor %>
  </p>

  <p>
    <strong>Product shelves:</strong>
    <%= placement.Product_Shelves %>
  </p>

</div>
